<!--[if lt IE 3]> start of _includes/footer.html <![endif]-->
{% capture pagelang %}{{ page.lang | default: "en"}}{% endcapture -%}
{% assign ftdt = site.data.html.footer[pagelang] -%}
<footer lang="{{ pagelang }}">
{%- if page.lang == "mul" %}
    <ul>
        <li id="footer-copyright" class="footlist">&copy; {{ site.owner_name }} 2012 - {{ "now" | date: "%Y" }}</li>
        <li id="footer-homepage" class="footlist"><a href="https://{{ site.homepage.url }}">{{ site.homepage.name }}</a></li>
        <li id="footer-blog" class="footlist"><a href="https://{{ site.blog.wwwurl }}">{{ site.blog.name }}</a></li>
        <li id="footer-github" class="footlist"><a href="https://github.com/{{ site.github_username }}/">GitHub</a></li>
        <li id="footer-twitter" class="footlist"><a href="https://twitter.com/{{ site.twitter_username }}/">Twitter</a></li>
        <li id="footer-youtube" class="footlist"><a href="{{ site.youtube_link }}">YouTube</a></li>
    </ul>
{%- else %}
    <ul>
        <li id="footer-copyright" class="footlist">&copy; MNH48 2012 - {{ "now" | date: "%Y" }}</li>
        <li id="footer-homepage" class="footlist" lang="{{ pagelang }}"><a href="https://{{ site.homepage.url }}/{{ pagelang }}/">{{ ftdt.homepage }}</a></li>
        <li id="footer-blog" class="footlist" lang="{{ pagelang }}"><a href="https://{{ ftdt.domain }}.{{ site.blog.url }}">{{ ftdt.blog }}</a></li>
        <li id="footer-github" class="footlist"><a href="https://github.com/{{ site.github_username }}/">GitHub</a></li>
        <li id="footer-twitter" class="footlist"><a href="https://twitter.com/{{ site.twitter_username }}/">Twitter</a></li>
        <li id="footer-youtube" class="footlist"><a href="{{ site.youtube_link }}">YouTube</a></li>
    </ul>
    <ul>
        <li id="footer-support" class="footlist" lang="{{ pagelang }}"><a href="https://mnh48.moe/{{ pagelang }}/support">{{ ftdt.support }}</a></li>
        <li id="footer-contact" class="footlist" lang="{{ pagelang }}"><a href="https://mnh48.moe/{{ pagelang }}/contact">{{ ftdt.contact }}</a></li>
        <li id="footer-sttaus" class="footlist" lang="{{ pagelang }}"><a href="https://status.mnh48.com/">{{ ftdt.status }}</a></li>
    </ul>
    <p id="footer-disclaim" class="footer" lang="{{ pagelang }}">{{ ftdt.disclaim }}</p>
    <p id="footer-generate" class="footer" lang="{{ pagelang }}">{{ ftdt.generate }} {% if site.repository %}<a href="https://github.com/{{ site.repository }}/tree/{{site.branch | default: "main"}}{{ page.url | replace: ".html", ".md" }}">{{ ftdt.gitrepo }}</a>{% else %}{{ ftdt.nogit }}{% endif %} {{ ftdt.wordon }} {{ "now" | date: "%Y-%m-%d %H:%M" }} (UTC+08)</p>
{% endif -%}
{% if page.needbtt %}<a href="#toplogo" class="backtotop">↑</a>{% endif -%}
</footer>
<!--[if lt IE 3]> end of _includes/footer.html <![endif]-->