<!--[if lt IE 3]> start of _includes/header.html <![endif]-->
{% capture pagelang %}{{ page.lang | default: "en"}}{% endcapture -%}
{% capture fronturl%}https://{{ site.site_domain }}{% endcapture -%}
{% capture backurl %}{{ page.url | remove_first: "/en/" | remove_first: "/ms/" | remove_first: "/ms-Arab/" | remove_first: "/ms-Rjng/" | remove_first: "/ms-Brgn/" | remove_first: "/zh-Hans/" | remove_first: "/zh-Hant/" | remove_first: "/ja/"}}{% endcapture -%}
{% assign hrdt = site.data.html.header[pagelang] -%}
<header class="page-header">
    <img id="toplogo" src="https://img.mnh48.moe/mnh48/mnh48-nobg-250.png" alt="MNH48" class="webmainicon"/>
    <h1 class="websitetitle" lang="{{ pagelang }}">{{ hrdt.webtitle }}</h1>
    <h2 class="webpagetitle" lang="{{ pagelang }}">{% if page.title %}{% if page.title == hrdt.webtitle %}{{ hrdt.pagetitle }}{% else %}{{ page.title }}{% endif %}{% else %}{{ hrdt.pagetitle }}{% endif %}</h2>
    {% if page.hasENG or page.hasRMI or page.hasJWI or page.hasRJG or page.hasSCH or page.hasTCH or page.hasJPN -%}
    <div class="langselect">
      <ul id="langselect-list">
        {% if page.hasENG %}<li><a href="/en/{{ backurl }}" lang="en">English</a></li>{% endif -%}
        {% if page.hasRMI %}<li><a href="/ms/{{ backurl }}" lang="ms">Bahasa Melayu Rumi</a></li>{% endif -%}
        {% if page.hasJWI %}<li><a href="/ms-Arab/{{ backurl }}" lang="ms-Arab">بهاس ملايو جاوي</a></li>{% endif -%}
        {% if page.hasRJG %}<li><a href="/ms-Rjng/{{ backurl }}" lang="ms-Rjng">ꤷꥁꤼ ꤸꥍꤾꤿꥈ ꤽꥍꤺꥏ</a></li>{% endif -%}
        {% if page.hasBRG %}<li><a href="/ms-Brgn/{{ backurl }}" lang="ms-Brgn" style="writing-mode: unset;">  </a></li>{% endif -%}
        {% if page.hasSCH %}<li><a href="/zh-Hans/{{ backurl }}" lang="zh-Hans">简体华文</a></li>{% endif -%}
        {% if page.hasTCH %}<li><a href="/zh-Hant/{{ backurl }}" lang="zh-Hant">繁體華文</a></li>{% endif -%}
        {% if page.hasJPN %}<li><a href="/ja/{{ backurl }}" lang="ja">日本語</a></li>{% endif -%}
      </ul>
      <a href="#langselect-list" aria-controls="langselect-list" role="button" data-toggle="langselect" id="langselect-button">
      {{ hrdt.pagelanguage }}
      </a>
      <a href="#langselect-button" aria-controls="langselect-list" role="button" data-toggle="langselect" class="langselect-close">
      {{ hrdt.pagelanguage }}
      </a>
    </div>
    {% endif -%}
</header>
<!--[if lt IE 3]> end of _includes/header.html <![endif]-->