---
layout: default
---
<!--[if lt IE 3]> start of _layouts/article.html <![endif]-->
{% capture pagelang %}{{ page.lang | default: "en"}}{% endcapture -%}
{% assign ardt = site.data.html.header[pagelang] -%}
<article lang="{{ pagelang }}" class="page">
  {% if page.needbacktext -%}
      <a href=".." class="backtext">{{ ardt.backtext }}</a>
  {% endif -%}
<!--[if lt IE 3]> start of article content <![endif]-->
{{ content -}}
<!--[if lt IE 3]> end of article content <![endif]-->
</article>
<!--[if lt IE 3]> end of _layouts/article.html <![endif]-->